body {
  background-color: grey;
  font-family: "Nunito", sans-serif;
  background: transparent;
}

html,
footer {
  background-image: url("https://browsecat.net/sites/default/files/black-gradient-background-127014-1527985-2500025.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  margin: 10px;
  text-align: center;
}

#topAnimeList {
  width: fit-content;
  padding: 9px;
}

#topAnimeList:link,
.animeCardATag:link {
  color: grey;
  text-decoration: none;
}

#topAnimeList:visited,
.animeCardATag:visited {
  color: grey;
  text-decoration: none;
}

#topAnimeList:hover,
.animeCardATag:hover {
  color: lightgrey;
  text-decoration: none;
}

#body {
  margin-top: 20px;
}

#animeListDiv {
  display: flex;
  margin-top: 30px;
  flex-flow: wrap;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

#animeCardTitle {
  font-size: 15px;
  text-align: center;
  max-width: 100px;
}

#titleDiv,
#searchDiv {
  display: flex;
  justify-content: center;
}

#searchInput {
  width: fit-content;
}

.synopsisButtons {
  margin-left: 5px;
}

#modalFooterDiv {
  justify-content: space-evenly;
}

#modalFooter {
  display: flex;
}

.modalFooterDetails {
  padding: 10px;
}

nav {
  margin-bottom: 30px;
}

input {
  text-align: center;
}

.navList {
  text-align: center;
}
